
/*
	Button Base layout
*/

button, button[class^="btn"] {
	all: unset;
	color: var(--color-base-elements-foreground);
	background-color: var(--color-base-elements-background);
	border-radius: 0.2em;
	padding: 0.4em;
	font-size: 1.3em;
	text-align: center;
	box-shadow: 0 3px 6px rgba(var(--color-base-type-rgb), 0.16), 0 3px 6px rgba(var(--color-base-type-rgb), 0.23);
	cursor: pointer;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

button:hover, button[class^="btn"]:hover {
	filter: brightness(110%);
	box-shadow: 0 3px 6px rgba(var(--color-base-type-rgb), 0.23), 0 3px 6px rgba(var(--color-base-type-rgb), 0.30);
}

button:after, button[class^="btn"]:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, var(--color-base-background) 10%, transparent 10%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform 0.5s, opacity 1s;
}

button:active:after, button[class^="btn"]:active:after {
	transform: scale(0, 0);
	opacity: 0.2;
	transition: 0s;
}



/*
	Button Round layout
*/

button.btn--round {
	border-radius: 50%;
	font-size: 20px;
	width: 40px;
	height: 40px;
	padding: 0;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}


/*
	Button Flat layout
*/

button.btn--flat {
	all: unset;
	border-radius: 0.2em;
	padding: 0.4em;
	font-size: 1.3em;
	text-align: center;
	color: var(--color-base-foreground);
	background-color: var(--color-base-background);
	cursor: pointer;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

button.btn--flat:hover {
	filter: unset;
	box-shadow: unset;
}

button.btn--flat:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, var(--color-base-elements-background) 10%, transparent 10%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform .5s, opacity 1s;
}
