
[class^="card"] {
	width: 100%;
	padding: 0.4em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	border-radius: 0.2em;
	background-color: var(--color-base-elements-background);
	color: var(--color-base-elements-foreground);
  display: flex;
  flex-direction: column;
}

[class^="card"] > video, img {
	all: unset;
	width: calc(100% + 0.8em);
	margin-left: -0.4em;
	margin-top: -0.4em;
	background-color: rgba(var(--color-base-type-rgb), 0.16);
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.2em;
	margin-bottom: 1em;
}

.card--elevated {
	box-shadow: 0 3px 6px rgba(var(--color-base-type-rgb), 0.16), 0 3px 6px rgba(var(--color-base-type-rgb), 0.23);
}

.card--outlined {
	border: 1px solid rgba(var(--color-base-type-rgb), 0.16);
}
