
[class^="collapsible"] {
  width: 100%;
	padding: 0.4em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	border-radius: 0.2em;
	background-color: var(--color-base-elements-background);
	color: var(--color-base-elements-foreground);
}

[class^="collapsible--content"] {
  all: unset;
}

[class^="collapsible"]>input[type*="checkbox"] {
	all: unset;
	display: block;
}

[class^="collapsible"]>input[type*="checkbox"] + label {
	all: unset;
  display: block;
	cursor: pointer;
	overflow: hidden;
  width: 100%;
  position: relative;
  padding: 0.4em;
}


[class^="collapsible"]>input[type*="checkbox"] + label::after {
	content: "\2190";
  position: absolute;
  right: 0;
  margin-right: 1em;
  transition: 0.4s all ease;
}

[class^="collapsible"]>input[type*="checkbox"]:checked + label::after {
	content: "\2190";
  position: absolute;
  right: 0;
  margin-right: 1em;
  transform: rotate(-90deg);
}


[class^="collapsible"]>input[type*="checkbox"] + label::before {
	all: unset;
}

[class^="collapsible"] > input[type*="checkbox"] ~ .collapsible--content {
	display: none;
	border-radius: 0.2em;
}


[class^="collapsible"] > input[type*="checkbox"]:checked {

}


[class^="collapsible"] > input[type*="checkbox"]:checked ~ .collapsible--content {
	background-color: var(--color-base-elements-background);
	color: var(--color-base-elements-foreground);
	padding: 1em;
	display: block;
}
