
[class^="dialog"] {
	margin-top: 1.1em;
	margin-bottom: 1.1em;
}

[class^="dialog"]>input[type*="checkbox"] {
	all: unset;
	display: block;
}

[class^="dialog"]>input[type*="checkbox"] + label {
	all: unset;
	cursor: pointer;
	background-color: var(--color-base-elements-background);
	color: var(--color-base-elements-foreground);
	border-radius: 0.2em;
	padding: 0.4em;
	font-size: 1.3em;
	text-align: center;
	box-shadow: 0 3px 6px rgba(var(--color-base-type-rgb), 0.16), 0 3px 6px rgba(var(--color-base-type-rgb), 0.23);
	cursor: pointer;
	overflow: hidden;
}

[class^="dialog"]>input[type*="checkbox"] + label::before {
	all: unset;
}

[class^="dialog"] > input[type*="checkbox"] ~ .dialog--content {
	display: none;
	border-radius: 0.2em;
}


[class^="dialog"] > input[type*="checkbox"]:checked {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(var(--color-base-type-rgb), 0.30);
}


[class^="dialog"] > input[type*="checkbox"]:checked ~ .dialog--content {
	background-color: var(--color-base-elements-background);
	color: var(--color-base-elements-foreground);
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 1em;
	transform: translate(-50%, -50%);
	display: block;
}