

nav[class^="bar--"] {
	left: 0;
	width: 100%;
	min-height: 3em;
  color: var(--color-base-elements-foreground);
	background-color: var(--color-base-elements-background);
}

nav.bar--top {
	top: 0;
	margin-bottom: 3em;
}

nav.bar--bottom {
  bottom: 0;
  margin-top: 3em;
}
