
.color-primary {
	color: var(--color-base-primary);
}

.color-secondary {
	color: var(--color-base-secondary);
}

.color-accent {
	color: var(--color-base-accent);
}

.color-dark {
	color: var(--color-dark-1);
}

.color-bright {
	color: var(--color-dark-7);
}

.backgroundcolor-primary {
	background-color: var(--color-base-primary);
}

.backgroundcolor-secondary {
	background-color: var(--color-base-secondary);
}

.backgroundcolor-accent {
	background-color: var(--color-base-accent);
}


:root {


	/*
		Custom Colors
	*/
	--color-base-background: var(--color-dark-1);
	--color-base-foreground: var(--color-dark-7);
	--color-base-elements-background: var(--color-dark-0);
	--color-base-elements-foreground: var(--color-dark-8);
	--color-base-border: var(--color-dark-1);

	--color-base-primary: var(--color-greyblue-1);
	--color-base-secondary: var(--color-greyblue-7);
	--color-base-accent: var(--color-red-1);

	/*
		Use bright for dark designs and dark for bright designs.
		Set the color base type variable to define shadows.
	*/
	--color-base-dark-rgb: var(--color-dark-2-base-rgb);
	--color-base-bright-rgb: var(--color-bright-2-base-rgb);
	--color-base-type-rgb: var(--color-base-dark-rgb);


  --color-lightness: 10%;
  --color-alpha: 1;


  /*
    Base (Grey)
  */
  --color-dark: 0, 0%;
  --color-dark-0: hsla(var(--color-dark), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-dark-1: hsla(var(--color-dark), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-dark-2: hsla(var(--color-dark), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-dark-3: hsla(var(--color-dark), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-dark-4: hsla(var(--color-dark), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-dark-5: hsla(var(--color-dark), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-dark-6: hsla(var(--color-dark), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-dark-7: hsla(var(--color-dark), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-dark-8: hsla(var(--color-dark), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
		Greyblue
	*/
  --color-greyblue: 200, 18%;
  --color-greyblue-0: hsla(var(--color-greyblue), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-greyblue-1: hsla(var(--color-greyblue), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-greyblue-2: hsla(var(--color-greyblue), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-greyblue-3: hsla(var(--color-greyblue), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-greyblue-4: hsla(var(--color-greyblue), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-greyblue-5: hsla(var(--color-greyblue), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-greyblue-6: hsla(var(--color-greyblue), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-greyblue-7: hsla(var(--color-greyblue), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-greyblue-8: hsla(var(--color-greyblue), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
    Brown
  */
  --color-brown: 12, 29%;
  --color-brown-0: hsla(var(--color-brown), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-brown-1: hsla(var(--color-brown), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-brown-2: hsla(var(--color-brown), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-brown-3: hsla(var(--color-brown), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-brown-4: hsla(var(--color-brown), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-brown-5: hsla(var(--color-brown), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-brown-6: hsla(var(--color-brown), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-brown-7: hsla(var(--color-brown), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-brown-8: hsla(var(--color-brown), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
    Red
  */
  --color-red: 51, 11%;
  --color-red-0: hsla(var(--color-red), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-red-1: hsla(var(--color-red), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-red-2: hsla(var(--color-red), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-red-3: hsla(var(--color-red), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-red-4: hsla(var(--color-red), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-red-5: hsla(var(--color-red), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-red-6: hsla(var(--color-red), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-red-7: hsla(var(--color-red), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-red-8: hsla(var(--color-red), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
    Orange
  */
  --color-orange: 27, 100%;
  --color-orange-0: hsla(var(--color-orange), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-orange-1: hsla(var(--color-orange), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-orange-2: hsla(var(--color-orange), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-orange-3: hsla(var(--color-orange), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-orange-4: hsla(var(--color-orange), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-orange-5: hsla(var(--color-orange), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-orange-6: hsla(var(--color-orange), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-orange-7: hsla(var(--color-orange), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-orange-8: hsla(var(--color-orange), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
    Yellow
  */
  --color-yellow: 54, 100%;
  --color-yellow-0: hsla(var(--color-yellow), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-yellow-1: hsla(var(--color-yellow), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-yellow-2: hsla(var(--color-yellow), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-yellow-3: hsla(var(--color-yellow), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-yellow-4: hsla(var(--color-yellow), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-yellow-5: hsla(var(--color-yellow), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-yellow-6: hsla(var(--color-yellow), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-yellow-7: hsla(var(--color-yellow), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-yellow-8: hsla(var(--color-yellow), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
    Green
  */
  --color-green: 120, 37%;
  --color-green-0: hsla(var(--color-green), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-green-1: hsla(var(--color-green), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-green-2: hsla(var(--color-green), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-green-3: hsla(var(--color-green), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-green-4: hsla(var(--color-green), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-green-5: hsla(var(--color-green), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-green-6: hsla(var(--color-green), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-green-7: hsla(var(--color-green), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-green-8: hsla(var(--color-green), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
    Cyan
  */
  --color-cyan: 187, 37%;
  --color-cyan-0: hsla(var(--color-cyan), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-cyan-1: hsla(var(--color-cyan), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-cyan-2: hsla(var(--color-cyan), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-cyan-3: hsla(var(--color-cyan), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-cyan-4: hsla(var(--color-cyan), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-cyan-5: hsla(var(--color-cyan), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-cyan-6: hsla(var(--color-cyan), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-cyan-7: hsla(var(--color-cyan), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-cyan-8: hsla(var(--color-cyan), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
    Blue
  */
  --color-blue: 207, 88%;
  --color-blue-0: hsla(var(--color-blue), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-blue-1: hsla(var(--color-blue), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-blue-2: hsla(var(--color-blue), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-blue-3: hsla(var(--color-blue), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-blue-4: hsla(var(--color-blue), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-blue-5: hsla(var(--color-blue), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-blue-6: hsla(var(--color-blue), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-blue-7: hsla(var(--color-blue), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-blue-8: hsla(var(--color-blue), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
    Purple
  */
  --color-purple: 291, 65%;
  --color-purple-0: hsla(var(--color-purple), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-purple-1: hsla(var(--color-purple), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-purple-2: hsla(var(--color-purple), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-purple-3: hsla(var(--color-purple), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-purple-4: hsla(var(--color-purple), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-purple-5: hsla(var(--color-purple), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-purple-6: hsla(var(--color-purple), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-purple-7: hsla(var(--color-purple), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-purple-8: hsla(var(--color-purple), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
    Purple
  */
  --color-purple: 291, 65%;
  --color-purple-0: hsla(var(--color-purple), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-purple-1: hsla(var(--color-purple), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-purple-2: hsla(var(--color-purple), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-purple-3: hsla(var(--color-purple), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-purple-4: hsla(var(--color-purple), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-purple-5: hsla(var(--color-purple), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-purple-6: hsla(var(--color-purple), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-purple-7: hsla(var(--color-purple), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-purple-8: hsla(var(--color-purple), calc(var(--color-lightness)*9), var(--color-alpha));


  /*
    Pink
  */
  --color-pink: 340, 80%;
  --color-pink-0: hsla(var(--color-pink), calc(var(--color-lightness)*1), var(--color-alpha));
  --color-pink-1: hsla(var(--color-pink), calc(var(--color-lightness)*2), var(--color-alpha));
  --color-pink-2: hsla(var(--color-pink), calc(var(--color-lightness)*3), var(--color-alpha));
  --color-pink-3: hsla(var(--color-pink), calc(var(--color-lightness)*4), var(--color-alpha));
  --color-pink-4: hsla(var(--color-pink), calc(var(--color-lightness)*5), var(--color-alpha));
  --color-pink-5: hsla(var(--color-pink), calc(var(--color-lightness)*6), var(--color-alpha));
  --color-pink-6: hsla(var(--color-pink), calc(var(--color-lightness)*7), var(--color-alpha));
  --color-pink-7: hsla(var(--color-pink), calc(var(--color-lightness)*8), var(--color-alpha));
  --color-pink-8: hsla(var(--color-pink), calc(var(--color-lightness)*9), var(--color-alpha));


	--color-dark-1-base-rgb: 33, 33, 33;
	--color-bright-1-base-rgb: 250, 250, 250;

	--color-dark-2-base-rgb: 66, 66, 66;
	--color-bright-2-base-rgb: 245, 245, 245;



}
